<!--
* {margin: 0; padding-left: 0px;}
html, body {height: 100%;}
/* general typography */
/*--Font faces------Used only for heads--------------------------------------------------*/
@font-face {font-family: 'GraublauWebBold'; src: url('../Fonts/graublauweb-webfont.eot'); src: url('../Fonts/graublauweb-webfont.eot%3Fiefix') format('eot'), url('http://www.intershack.com/Fonts/graublauweb-webfont.woff') format('woff'), url('../Fonts/graublauweb-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'OpenSansBold'; src: url('../Fonts/OpenSans-CondBold.eot'); src: url('../Fonts/OpenSans-CondBold.eot%3Fiefix') format('eot'), url('http://www.intershack.com/Fonts/OpenSans-CondBold.woff') format('woff'), url('../Fonts/OpenSans-CondBold.ttf') format('truetype'); font-weight: normal; font-style: normal;}
body, textarea {font-family:Verdana, Arial, sans-serif;font-size: 12px;line-height: 13px;color: black;}
.hr  { color: #003366;background-color:#003366;height:3px;border:none;width:95%;}
.p11  { font-weight: 400;font-size: 11px;line-height: 11px;color: black;}
.p11tan  { font-weight: 400;font-size: 11px;line-height: 11px;color: #FFE7C8;}
.p11blue  { font-weight: 400;font-size: 11px;line-height: 11px;color: blue;}
.p10red  { font-weight: 400;font-size: 10px;line-height: 10px;color: red;}
.p11red  { font-weight: 400;font-size: 11px;line-height: 11px;color: red;}
.p11dblueb  { font-weight: 600;font-size: 11px;line-height: 12px;color: #003366;}
.p12  { font-weight: 400;font-size: 12px;line-height: 12px;color: black;}
.p12bk  { font-weight: 400;font-size: 12px;line-height: 12px;color: blue;background: #FFE7C8;}
.p    { font-weight: 400;font-size: 13px;line-height: 15px;color: black;}
.pr    { font-weight: 400;font-size: 13px;line-height: 15px;color: black;text-align: right;}
.pblue { font-weight: 400;font-size: 13px;line-height: 15px;color: blue;}
.pred { font-weight: 400;font-size: 13px;line-height: 15px;color: red;}
.p16    { font-weight: 400;font-size: 16px;line-height: 16px;color: black;}
.p16blue { font-weight: 400;font-size: 16px;line-height: 16px;color: blue;}
.p16red { font-weight: 400;font-size: 16px;line-height: 16px;color: red;}

.p11b  { font-weight: 600;font-size: 11px;line-height: 11px;color: black;}
.p11blueb  { font-weight: 600;font-size: 11px;line-height: 11px;color: blue;}
.p11redb  { font-weight: 600;font-size: 10px;line-height: 10px;color: red;}
.pb    { font-weight: 600;font-size: 13px;line-height: 13px;color: black;}
.pblueb { font-weight: 600;font-size: 13px;line-height: 13px;color: blue;}
.predb { font-weight: 600;font-size: 13px;line-height: 13px;color: red;}
.p14brb { font-weight: 600;font-size: 14px;line-height: 14px;color: #301d07;}
.h14dburg    { font-family:GraublauWebBold, Verdana, Arial, sans-serif; font-size: 14px;font-weight: 600;line-height: 14px;color: #a40b3a;}
.p16b    { font-weight: 600;font-size: 16px;line-height: 16px;color: black;}
.p16brb { font-weight: 600;font-size: 16px;line-height: 16px;color: #301d07;}
.p16blueb { font-weight: 600;font-size: 16px;line-height: 16px;color: blue;}
.p16redb { font-weight: 600;font-size: 16px;line-height: 16px;color: red;}

.h14    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 14px;font-weight: 400;line-height: 16px;color: black;}
.h14dblue    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 14px;font-weight: 400;line-height: 16px;color: #003366;}
.h14br    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 14px;font-weight: 400;line-height: 16px;color: #301d07;}
.h16    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 16px;font-weight: 400;line-height: 18px;color: black;}
.h16dblue    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 16px;font-weight: 400;line-height: 18px;color: #003366;}
.h16br    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 16px;font-weight: 400;line-height: 18px;color: #301d07;}
.h18    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 18px;font-weight: 400;line-height: 18px;color: black;}
.h18dblue    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 18px;font-weight: 400;line-height: 18px;color: #003366;}
.h18red    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 18px;font-weight: 400;line-height: 18px;color: red;}
.h18dburg    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 18px;font-weight: 400;line-height: 18px;color: #a40b3a;}
.h24    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: black;}
.h24dblue    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: #003366;}
.h24red    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: red;}
.h24dburg    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: #a40b3a;}
.h24dgreen   { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: #0c3401;}
.h24green    { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: red;}
.h24blue   { font-family:OpenSansBold, Verdana, Arial, sans-serif; font-size: 24px;font-weight: 400;line-height: 24px;color: blue;}

#myinnercontainer { position:absolute; top:10%; height:10em; margin-top:-5em }
a{color: blue; text-decoration: none}
a:link {color: blue; outline: none}
a:visited {color: #5C7996;}
a:hover{color: blue}
a:focus{outline:none;}
/*'--Skin formatting --------------------------------------------------*/
.top1      { background:white url('../Library/Masts/Intershack_Mast.gif') no-repeat center top;height: 100px;}
.top1_FR   { background:white url('http://www.intershack.com/Library/Masts/Cyan7_Leases_Top_Banner_FR.gif') no-repeat center top;height: 100px;}
.topbelmont { background:white url('http://www.intershack.com/Library/Masts/Cyan7_Leases_Belmont_Top_Banner.gif') no-repeat center top;height: 100px;}
.topbelmont_FR { background:white url('http://www.intershack.com/Library/Masts/Cyan7_Leases_Belmont_Top_Banner_FR.gif') no-repeat center top;height: 100px;}
.topLand   { background:#F3A204 url('http://www.intershack.com/Library/Graphics/Cyan7_Logo_266_90.jpg') no-repeat center top;height: 92px;width: 1000px;}
.center_mid   { width: 1000px;}
.mid       { background-position:center;background:#FFE7C8}
.leading4  { padding-top: 4px;}
.leading6  { padding-top: 6px;}
.leading10  { padding-top: 10px;}
.leading16  { padding-top: 16px;}
.backgroundactive { background: #F3A204;padding-top: 2px;padding-bottom: 3px;}
.backgroundbot { background: #F3A204;padding-top: 2px;padding-bottom: 2px;}
.backgroundmid { background: #FFE7C8;padding-left: 2px;padding-right: 2px;padding-top: 2px;padding-bottom: 1px;height:2000px;width:1000px;}

.hide {display:none;}
.show {display:block;}
.container { font-family: Arial, Helvetica, sans-serif;width: 100%;font-size: 11px;line-height: 11px;font-weight: 400;color: black;background: #d8d8a7;}  
.border {border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;}
.borderB {border-color: black black black black; border-width: 1px;}
.buttons {color: white;font-family: Verdana, sans-serif;border: 1px solid;background-color: #4A2421;padding: 1px;padding-left: 6px;font-size: 8pt;font-weight: 600;text-decoration: none;border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;display: block;margin: 0px;width: 100%;text-align: left;}
.buttons a {color: black;font-family: Verdana, sans-serif;border: 1px solid;background-color: #B5EFFE;padding: 1px;padding-left: 6px;font-size: 8pt;font-weight: 600;text-decoration: none;border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;display: block;margin: 0px;width: 100%;text-align: left;}
.buttons a:hover {border: 1px solid;padding: 1px;padding-left: 6px;background-color: #002183;border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;color: #991000;text-decoration: none;}
.buttonsB a {color: #4A2421;font-family: Verdana, sans-serif;border: 1px solid;background-color: #D2E8FB;padding: 1px;padding-left: 6px;font-size: 7pt;font-weight: 600;text-decoration: none;border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;display: block;margin: 0px;width: 100%;text-align: left;}
.buttonsB a:hover {border: 1px solid;padding: 1px;padding-left: 6px;background-color: #00BAEC;border-color: #FFFFFE #FFFFFE #FFFFFE #FFFFFE;color: #4A2421;text-decoration: none;}
.header      { font-family: Arial, Helvetica, sans-serif;font-size: 13px;line-height: 13px;font-weight: 600;color: white;background: #003366; }
.thead       { font-family: Arial, sans-serif;font-weight: 600;font-size: 11px;line-height: 12px;color: #FBCF81;background: #340812;text-align:left;padding: 1px 3px 1px 3px;}
.theadR      { font-family: Arial, sans-serif;font-weight: 600;font-size: 13px;line-height: 12px;color: #FBCF81;text-align: right;background: #FFD694;}
.theadSm     { font-family: Arial, sans-serif;font-weight: 600;font-size: 11px;line-height: 11px;color: #FBCF81;background: #340812;}
.theadSmr    { font-family: Arial, sans-serif;font-weight: 600;font-size: 9px;line-height: 9px;color: #FBCF81;background: #340812;}
.tbody       { font-family: Arial, sans-serif;font-weight: 400;font-size: 12px;line-height: 12px;color: #003366;background: #F2F3E2;text-align:left;padding: 1px 2px 1px 2px;}
.tbodyR      { font-family: Arial, sans-serif;font-weight: 400;font-size: 13px;line-height: 13px;color: #003366;text-align: right;background: #F2F3E2;}
.tbodySm     { font-family: Arial, sans-serif;font-weight: 400;font-size: 11px;line-height: 11px;color: #003366;background: #F2F3E2;}
.tbodyB      { font-family: Arial, sans-serif;font-weight: 600;font-size: 12px;line-height: 13px;color: black;background: #F2F3E2;}
.tbodyID     { font-family: Arial, sans-serif;font-weight: 600;font-size: 12px;line-height: 13px;color: black;background: #FFD694;}
.tbodyH      { font-family: Arial, sans-serif;font-weight: 600;font-size: 12px;line-height: 13px;color: blue;background: #F2F3E2;}
.theadm      { font-family: Arial, sans-serif;font-weight: 600;font-size: 12px;line-height: 13px;color: #FBCF81;background: #340812;padding-left: 2px;}
.tbodym      { font-family: Arial, sans-serif;font-weight: 400;font-size: 12px;line-height: 13px;color: #003366;background: #F2F3E2;}
.box         { background-color: #f7c78e;border-style: solid;border-width: 0pt;border-color: #003366;padding: 3pt;font-family: Arial, Helvetica, sans-serif;font-weight: 400;font-size: 13px;line-height: 13px; }
.box1        { background-color: #E8E8E8;border-style: solid;border-width: 1pt;border-color: #003366;padding: 3pt;font-family: Arial, Helvetica, sans-serif;font-weight: 400;font-size: 13px;line-height: 13px; }
#css-table {display: table;background: #FFE7C8;height:2000px;width:1000px;padding: 9px 2px 0px 2px;}
#css-table .col1 {display: table-cell;width: 16%;text-align:left;padding: 1px;}
#css-table .col2 {display: table-cell;width: 83%;text-align:left;padding: 1px;}
#css-table .col2a {display: table-cell;width: 68%;text-align:left;padding: 1px;}
#css-table .col3 {display: table-cell;width: 16%;text-align:left;padding: 1px;}
#table-Summary th { font: normal 13px Arial,sans-serif;font-weight: 600;color: blue;background-color: #F2F3E2;text-align: left;}
#table-Summary td:hover { background-color: #FBCF81;}
.headerstyle  { font-family: Arial, sans-serif;font-weight: 600;font-size: 13px;line-height: 13px;color: #FBCF81;background-color: #340812;padding: 1px 1px 1px 1px;}
.rowstyle  { font-family: Arial, sans-serif;font-weight: 400;font-size: 13px;line-height: 13px;color: #003366;background-color: #F2F3E2;}
.modify      { padding-left: 3px}
.delete      { width: 55px;height: 17px;background-color: #F2F3E2;}
.theadborderR { border-right-style:solid;border-width:1px;border-color:#F2F3E2;padding-right:4px;}
.theadborderL { border-right-style:solid;border-width:1px;border-color:#F2F3E2;padding-left:2px;}
.tbodyborder { border-right-style:solid;border-width:8px;border-color:#F2F3E2;}
.tbodyborderB { font-weight: 600;border-right-style:solid;border-width:8px;border-color:#F2F3E2;}
.wrap {position:relative;margin:0 auto;width:1000px;}
#header, #footer {width:100%;float:left;}
#footer {position:fixed;bottom:0;z-index:999999;}
.bottomft      { font-family: Arial, sans-serif;font-weight: 600;font-size: 12px;line-height: 13px;color: #003366;}
.bottomftSm    { font-family: Arial, sans-serif;font-weight: 600;font-size: 11px;line-height: 12px;color: #003366;}
.bottomftDt    { font-family: Arial, sans-serif;font-weight: 600;font-size:  9px;line-height: 12px;color: #003366;}
.headerRow {background-color: #DEDFC1;color:#003366;font-weight:bold;}        
.highlightRow {background-color: #E8E9CF; cursor: pointer;border:solid 1px #340812;}         
.selectedRow {background-color: #DEDFC1;cursor: pointer;border:solid 1px #340812;color:#003366;}
input:required:invalid, input:focus:invalid { background-image: url(../images/invalid.png); background-position: right top; background-repeat: no-repeat; -moz-box-shadow: none;} 
input:required:valid { background-image: url(../images/valid.png); background-position: right top; background-repeat: no-repeat; -moz-box-shadow: none;} 
-->










 












 